
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# PhpStorm / IntelliJ project settings:
# for this project, share most project config across machines
# and keep only user-local workspace/plugin state ignored.
/.idea/*
!/.idea/.gitignore
!/.idea/ecliptix.iml
!/.idea/modules.xml
!/.idea/php.xml
!/.idea/phpspec.xml
!/.idea/phpunit.xml
!/.idea/vcs.xml
.idea/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
