
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# PhpStorm / IntelliJ project settings:
/.idea/*
!/.idea/.gitignore
!/.idea/ecliptix.iml
!/.idea/modules.xml
!/.idea/php.xml
!/.idea/phpspec.xml
!/.idea/phpunit.xml
!/.idea/vcs.xml
.idea/
/.claude/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/config ###
/config/reference.php
###< symfony/config ###
/config/reference.php
###< symfony/config ###
