includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 5
    phpVersion: 80400
    paths:
        - src/
        - tests/
    tmpDir: .phpstan-cache
